
@model Vidly.Models.Movie
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope = "col">Title</th>
            <th scope = "col">Genre</th>
            <th scope = "col">Stock</th>
            <th scope = "col">Release Date</th>
            <th scope = "col">Date Added</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Title
            </td>
            <td>
                @Model.Genre.GenreName
            </td>
            <td>
                @Model.Stock
            </td>
            <td>
                @Model.ReleaseDate.Date.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Model.DateAdded.Date.ToString("dd/MM/yyyy")
            </td>
        </tr>
    </tbody>
</table>
